<br>
<h2>Veuillez vous authentifiez </h2>

<table>
  <tr>
    <td>Entrez votre nom</td>
    <td>
      <input  type="text" required="" id="prenom">
    </td>
  </tr>
  <tr>
    <td>Entrez votre mot de passe</td>
    <td>
      <input class="ng-pristine ng-invalid ng-touched" type="password" required="" id="mdp">
    </td>
  </tr>
  <tr>
    <td><input type="submit" (click)="afficheInfo()" value="Se Connecter"></td>
  </tr>
</table>

<div class="alert alert-primary" role="alert" [hidden]='alertevide'>
  {{errorMessage}}
</div>
